body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 112px;
}

h1, h3{
    display: inline-block;
}

nav{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

aside{
    float: left;
    height: 500px;
    width: 21%;
    margin: 0px;
    background-color: #f1f1f1;
    overflow-y: scroll;
}

.adds{
    float: right;
    width: 15%;
    margin: 0px;
    padding-top: 50px;
}

.adds img{
    width: 100%;
}

.pre-nav{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.pre-nav-right{
    position: absolute;
    right: 0px;
    margin-right: 20px;
    margin-top: 23px;
}

.pre-nav-left{
    margin-top: 15px;
    margin-left: 20px;
}

.nav{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.56);
}

.content{
    float: left;
    width: 60%;
    margin: 10px;
}
